#insert {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 5px solid #CCCCCC;
    height: 40px;
    width: 200px;
}
#wbrinsert {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 5px solid #CCCCCC;
    height: 40px;
    width: 200px;
}
