#drag{
    background:#fff;
    border:1px solid #99CCCC;
    width:150px;
    height:100px;
    position:absolute;
    font-size:14px;
    padding:10px;
    text-align:center;
}
#dragHeader{
    border:1px solid #99CCCC;
    background:#F2F5F5;
    padding:5px;
    margin-bottom:10px;
    height:10px;
}
.roundCorner{
    -moz-border-radius:4px 4px 4px 4px;
    -webkit-border-radius:4px 4px 4px 4px;
}