    #container{
        width:150px;
        margin:20px;
    }
    .contain{
        border:2px solid red;
        padding:10px;
    }
    #outer{
        border:2px solid blue;
        width:150px;
        padding:10px;
        margin:20px;
    }
	#resultTextarea{
        margin:20px;
	}