/*核心css*/
.tangram-accordion { 
	width : 150px; 
	border :5px solid #369;
	background:#fff;
	font-size:12px;
} 
.tangram-accordion-head { 
	border-bottom: 1px solid #D8D8D8; 
	background:#DDD;
	font-size: 14px; 
	height: 27px; 
	line-height: 27px; 
	text-indent:1em;
	cursor:pointer; 
} 
.tangram-accordion-body { 
	height:200px; 
	overflow:auto; 
	text-align:left; 
	font-size:12px; 
	background:#FFF;
} 
.tangram-accordion-current{ 
	background: url("tree_bg.gif") repeat-x scroll 0 -27px #E1E7F2; 
	font-weight: bold; 
} 
.tangram-body-item{ 
	color: #000000; 
	display: block; 
	text-decoration: none; 
	width: 100%;
	text-indent: 22px; 
} 