/*baidu.ui.Slider*/
.tangram-slider {
    width : 445px; 
    height : 23px;
    background : url(tangram-slider-bg.gif) repeat-x 0px center;
}
.tangram-slider-thumb{
    width : 22px;
    height : 23px;
    z-index : 3000;
    filter : progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="baidu_ui_Slider/tangram-slider-thumb-blue.png"); 
    background:url(tangram-slider-thumb-blue.png) no-repeat!important; 
    background:none; 
}
.tangram-progressbar-bar{
    height : 23px;
    background:url(tangram-slider-fg-blue.gif) repeat-x 0 center; 
}