.Conmain{padding:50px;font-size:12px;line-height:20px}
#resultArea{background:#EEE;border:1px solid #999;margin:5px 0;width:90%;text-indent:2em;}
.explain{background:#FEFEFE;border:1px solid #DDD;margin:5px 0;width:90%;text-indent:2em;}
.explain code{background:#BBB;display:block;border:1px solid #AAA;margin:5px 10px;}