{include base-css/tree.css}

.apipage .sidebar{
	float: left;
	width: 240px;
	overflow: hidden;
}

.apipage .content{
	float: left;
	width: 590px;
}

#apitree{
	width: 600px;
	margin: 0;
	line-height: 20px;
}

#apitree a{
	font-size: 14px;
}