{include base-css/tree.css}

.apipage{
	background: #fff url(../images/api-bg.gif) repeat-y 0 0;
}

.apipage .sidebar{
	float: left;
	width: 180px;
	overflow: hidden;
	padding: 28px;
}

.apipage .content{
	float: left;
	width: 650px;
	padding: 28px;
}

#api_list table td{
	border: 0;
}

#api_list table td.name{
	width: 180px;
}

#api_list table td.name a{
	font-weight: 700;
	color: #064581;
}

#api_list table tr.dark td{
	background-color: #f6f6f6;
}

#api_list,
#api_detail{
	display: none;
}

.apipage .content h2{
	font-size: 24px;
	font-weight: 700;
}

.apipage .content p{
	font-size: 12px;
	line-height: 24px;
}

.apipage .content .grammar .left,
.apipage .content .grammar .center,
.apipage .content .grammar .right{
	background-image: url(../images/api-grammar-bg.gif);
	height: 30px;
	float: left;
}

.apipage .content .grammar .left,
.apipage .content .grammar .right{
	width: 5px;
}

.apipage .content .grammar .left{

}

.apipage .content .grammar .center{
	background-position: 0 -30px;
	line-height: 30px;
	color: #333;
	padding: 0 5px;
	font-family: "Verdana";
}

.apipage .content .grammar .right{
	background-position: 0 -60px;
}

.apipage .content .grammar{
	margin: 10px 0;
}

.apipage .content .grammar .center strong{
	font-weight: 700;
	color: #000;
}

.apipage .content .group{
	margin-top: 10px;
}

.apipage .content .group .group-title{
	background: transparent url(../images/api-group-switch.gif) no-repeat 0 0;
	line-height: 23px;
	text-decoration: none;
	color: #000;
	font-size: 14px;
	font-weight: 700;
	padding-left: 24px;
}

.apipage .content .group .group-title-close{
	background-position: 0 -24px;
}

.apipage .content .group .group-content{
	margin-left: 10px;
}

.apipage .content .group .group-content td{
	border: 0;
	padding: 3px;
	vertical-align: top;
}

.apipage .content .group .group-content tr.dark td{
	background-color: #f6f6f6;
}

.apipage .content .group .group-content .type{
	color: #999;
	font-style: italic;
}

.apipage .content .group .group-content .name a{
	font-weight: 700;
	color: #064581;
}

.apipage .content .tab{
	width: auto;
	margin-top: 10px;
}

.apipage .content .tab .tab-title{
	width: auto;
	height: 35px;
	border-bottom: 1px solid #9d9e9f;
	background-color: #e2eaff;
}

.apipage .content .tab .tab-title .item{
	text-align: center;
	font-size: 14px;
	width: 73px;
	height: 31px;
	line-height: 31px;
	background-image: url(../images/api-tab.gif);
	position: relative;
	top: 5px;
	margin-left: 5px;
}

.apipage .content .tab .tab-content{

}

#apitree{
	width: 600px;
	margin: 0;
	line-height: 20px;
}

#apitree a{
	font-size: 14px;
}

#api_demo_iframe{
	width: 100%;
	height: 400px;
	border: 0;
}

#api_jump a{
	color: #064581;
}