module.declare({
	fullVersionSize: '{+ data.fullVersionSize +}k',
	fullVersionGzipSize: '{+ data.fullVersionGzipSize +}k',
	coreVersionSize: '{+ data.coreVersionSize +}k',
	coreVersionGzipSize: '{+ data.coreVersionGzipSize +}k',
	fullVersionMd5: '{+ data.fullVersionMd5 +}',
	fullVersionSrcMd5: '{+ data.fullVersionSrcMd5 +}',
	coreVersionMd5: '{+ data.coreVersionMd5 +}',
	coreVersionSrcMd5: '{+ data.coreVersionSrcMd5 +}',
	tangramLatestVersion: '{+ data.tangramLatestVersion +}'
});