html{
	color:#000;
	background:#FFF;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{
	margin:0;
	padding:0;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img{
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var{
	font-style: normal;
	font-weight: normal;
}
li{
	list-style:none;
}
caption, th{
	text-align:left;
}
h1, h2, h3, h4, h5, h6{
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after{
	content: '';
}
abbr, acronym{
	border: 0;
	font-variant: normal;
}
sup{
	vertical-align: text-top;
}
sub{
	vertical-align: text-bottom;
}
input, textarea, select{
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input, textarea, select{
	*font-size: 100%;
}
legend{
	color: #000;
}
html, body{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
}

.clearfix:after{
	content: "/20";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}

.clearfix{
	zoom: 1;
}

.Licheelite-basicslippage-layer{
	overflow: hidden;
	line-height: 0;
}
.Licheelite-basicslippage-inner{
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	display: block;
}
/**
 * 文章页通用样式表 v 1.2.0
 * filename: article.css
 * author: dron
 * date: 2008-4-13
 * contact: ucren.com
 * change logs:
 *
 * 2011-07-27 新加 ul li 图片样式，调整 a:hover 基本样式
 * 2011-06-24 新增 em,strong 的定义
 * 2011-06-21 又调整 pre>code 样式
 * 2011-06-20 调整 pre>code 样式，并强制换行
 * 2010-08-11 加入列表项目
 * 2010-08-09 设置 p 的 margin，使之在 reset.css 也能段落隔开
 * 2010-07-22 新增表格的默认样式，调整 code 的行高
 * 2010-04-26 修改 h4, h5, h6 字号，使其间隔更大，并对 h1-h6 加行高
 */

/* 文章块 */
div.article{ padding: 2em; border: 0; width: auto; font-size: 14px; font-weight: normal; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; color: #333; line-height: 23px; }

/* 一些标签 */
div.article em{ font-style: italic; }
div.article strong{ font-weight: 700; }

/* 初始化 h1 到 h6 的样式 */
div.article h1,
div.article h2,
div.article h3,
div.article h4,
div.article h5,
div.article h6{ margin: 0; padding: 0; border: 0; font-size: 14px; font-weight: normal; color: #000; }

/* 文章的主标题 */
div.article h1{ font-size: 24px; font-weight: 700; line-height: 47px; }

/* 文章的副标题 */
div.article h2{ font-size: 20px; font-weight: 700; line-height: 39px; }

/* 文章的信息栏 */
div.article h3{ font-size: 12px; }

/* 一级子标题 */
div.article h4{ font-size: 22px; font-weight: 700; line-height: 35px; }

/* 二级子标题 */
div.article h5{ font-size: 18px; font-weight: 700; line-height: 31px; }

/* 三级子标题 */
div.article h6{ font-weight: 700; }

/* 文章正文段落 */
div.article p{ margin: 1em auto; padding: 0; border: 0; text-indent: 2em; display: block; word-break: break-all; word-wrap: break-word; }
div.article p.noi{ text-indent: 0; }

/* 代码框 */
div.article pre{
	display: block;
	background-color: #000;
	padding: 4px 10px;
	white-space: pre-wrap;       /* CSS-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
div.article pre code{ display: block; font-family: "Courier New", Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 22px; color: #000; }

/* 图片 */
div.article img{ margin: 5px; padding: 0; border: 0; }

/* 链接 */
div.article a{ color: #00f; text-decoration: underline; }
div.article a:hover{ color: #900; }

/* 缩进样式 m1, m2, m3, m4 */
div.article .m1{ margin-left: 2em; }
div.article .m2{ margin-left: 4em; }
div.article .m3{ margin-left: 6em; }
div.article .m4{ margin-left: 8em; }

/* 排列样式 al, ac, ar */
div.article .al{ text-align: left; }
div.article .ac{ text-align: center; }
div.article .ar{ text-align: right; }

/* 浮动样式 */
div.article .fl{ float: left; }
div.article .fr{ float: right; }
div.article .fc{ width: 0; height: 0; overflow: hidden; display: block; clear: both; }

/* 颜色样式 cr, cb, cg */
div.article .cr{ color: red; }
div.article .cb{ color: blue; }
div.article .cg{ color: green; }
div.article .ca{ color: #808080; }

/* 字体样式 */
div.article .pb{ font-weight: 700; color: #000; }
div.article .pi{ font-style: italic; }
div.article .pu{ text-decoration: underline; }

/* 字号管理 */
div.article .p12{ font-size: 12px; line-height: 23px; }
div.article .p14{ font-size: 14px; line-height: 27px; }
div.article .p16{ font-size: 16px; line-height: 31px; }
div.article .p18{ font-size: 18px; line-height: 35px; }
div.article .p20{ font-size: 20px; line-height: 39px; }
div.article .p22{ font-size: 22px; line-height: 43px; }

/* 表格 */
div.article table{ border-collapse: collapse; margin: 0; padding: 0; }
div.article table th, td{ padding: 5px; border: 1px solid #ccc; border-collapse: collapse; text-align: left; }
div.article table th{ font-weight: 700; background-color: #f6f6f6; }

/* 列表 */
div.article ul, div.article ol, div.article li{ margin: 0; padding: 0; border: 0; }
div.article ul, div.article ol{ padding-left: 2em; }
div.article ul li{ list-style-type: disc; }
div.article ol li{ list-style-type: decimal; }

div.article ul.img{ margin: 10px 3px; }
div.article ul.img li{ list-style-type: none; line-height: 20px; padding-left: 20px; background: url(../images/dot.gif) no-repeat -1px 2px; }

/* 其它 */
div.article hr{ width: 100%; height: 1px; border: 0; background-color: #808080; margin: 0; padding: 0; }

html{
	background: #5088ae url(../images/bg_02.gif) repeat-x 0 0;
}

#wrapper{
	width: auto;
	background: transparent url(../images/wrap_bg.gif) no-repeat center 0;
	text-align: center;
}

#header{
	width: 948px;
	height: 122px;
	margin: auto;
	text-align: left;
}

#logo-cont{
	float: left;
	width: 112px;
	height: 82px;
	padding: 40px 0 0 46px;
}

#logo{
	width: 80px;
	height: 58px;
	background: transparent url(../images/logo.png) no-repeat 0 0;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.png',sizingMethod='scale');
}

#nav-cont{
	float: left;
	position: relative;
	width: 790px;
	height: 122px;
}

.nav-bg,
.nav-highlights,
.nav-texts,
.searchbox{
	position: absolute;
	left: 0;
	top: 61px;
	width: 790px;
	height: 35px;
}

.nav-highlights,
.nav-texts{
	width: 505px;
}

.nav-bg .left,
.nav-bg .center,
.nav-bg .right{
	float: left;
	background: transparent url(../images/nav-bg.gif) repeat 0 0;
	width: 9px;
	height: 35px;
}

.nav-bg .center{
	width: 772px;
	background-position: 0 -35px;
}

.nav-bg .right{
	background-position: 0 -70px;
}

.nav-highlights .item,
.nav-texts .item{
	float: left;
	width: 126px;
	height: 35px;
}

.nav-texts .item{
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	position: relative;
	overflow: hidden;
}

.nav-texts .item span{
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	background: url(../images/blank.gif);
	width: 126px;
	height: 35px;
	color: #000;
	z-index: 2;
}

.nav-texts .item span.shadow{
	color: #f0f0f0;
	left: 1px;
	top: 1px;
	z-index: 1;
}

.nav-texts .hl span{
	color: #060;
}

.nav-texts .hl span.shadow{
	color: #e0f0e0;
}

.nav-texts .item{
	cursor: pointer;
}

.nav-texts .item a{
	display: block;
	width: 40px;
	height: 35px;
	float: right;
	background: url(../images/arrow-down.gif) no-repeat 0 center;
}

#searchinput,
#searchbutton{
	position: absolute;
	top: 3px;
	height: 28px;
	border: 0;
	line-height: 28px;
	outline: none;
}

.searchinput{
	left: 508px;
	padding-left: 5px;
	width: 241px;
	font-size: 14px;
	background: transparent url(../images/searchbox.gif) no-repeat 0 0;
}

.searchbutton{
	left: 749px;
	width: 36px;
	background: transparent url(../images/searchbox.gif) no-repeat -241px 0;
}

.searchinput-over{
	background-position: 0 -28px;
}

.searchbutton-over{
	background-position: -241px -28px;
}

.searchbutton-down{
	background-position: -241px -56px;
}

.nav-dropmenu .menu{
	position: absolute;
	left: -1px;
	top: 35px;
}

.simplemenu{

}

.simplemenu-top,
.simplemenu-main,
.simplemenu-bottom{
	width: 126px;
	background-image: url(../images/simplemenu.gif);
}

.simplemenu-top,
.simplemenu-bottom{
	height: 4px;
	overflow: hidden;
}

.simplemenu-top{
	background-position: 0 0;
}

.simplemenu-main{
	background-position: -126px 0;
}

.simplemenu-bottom{
	background-position: -252px 0;
}

.simplemenu-item{
	text-align: left;
	padding-left: 4px;
}

.simplemenu-item a{
	display: block;
	text-decoration: none;
	text-indent: 5px;
	color: #000;
	width: 118px;
	height: 29px;
	line-height: 29px;
	font-size: 12px;
	background: transparent url(../images/simplemenu-a.gif) no-repeat 0 0;
}

.simplemenu-item a:hover{
	color: #fff;
	background-position: 0 -29px;
}

.simplemenu-arrow a{
	background-position: 0 -58px;
}

.simplemenu-arrow a:hover{
	background-position: 0 -87px;
}

.simplemenu-item a span.textover{
	font-size: 9px;
}

.simplemenu-item-expanded a{
	color: #fff;
	background-position: 0 -87px;
}

#main{
	width: 948px;
	margin: auto;
	text-align: left;
}

.main-header{
	position: relative;
	width: auto;
	height: 51px;
	background: transparent url(../images/main-header.gif) no-repeat 0 0;
}

.main-header span{
	position: absolute;
	left: 0;
	top: 0;
	text-indent: 50px;
	display: block;
	line-height: 50px;
	color: #444;
	font-weight: 700;
	font-size: 18px;
	z-index: 2;
	font-family: Arial;
}

.main-header span.shadow{
	left: 1px;
	top: 1px;
	color: #bbb;
	z-index: 1;
}

.main-body{
	width: auto;
	background-color: #fff;
}

.main-footer{
	width: auto;
	height: 35px;
	text-align: center;
	line-height: 35px;
	background: transparent url(../images/main-footer.gif) no-repeat 0 0;
	font-family: Arial;
	font-size: 12px;
	color: #808080;
}

#footer{
	height: 35px;
}

div.article a.variable{
	text-decoration: none;
	color: #333;
}

/* indexpage */
div.indexpage div.article ul.ok li{
	background-image: url(../images/ok.gif);
	line-height: 30px;
}

div.indexpage .content{
	float: left;
	width: 650px;
}

div.indexpage .content p.desc{
	color: #333;
}

div.indexpage .sidebar{
	float: left;
	width: 200px;
}

/* downloadpage */
div.downloadpage h5{
	color: #3c70a5;
}

div.downloadpage a.download-link,
div.downloadpage a.question,
div.downloadpage a.make{
	padding-left: 20px;
	height: 20px;
	display: inline-block;
	*display: inline;
}

div.downloadpage a.download-link{
	background: transparent url(../images/download-link.gif) no-repeat 0 center;
}

div.downloadpage a.question{
	background: transparent url(../images/question-balloon.gif) no-repeat 0 center;
}

div.downloadpage a.make{
	background: transparent url(../images/make.gif) no-repeat 0 center;
}

div.downloadpage ul li{
	margin-bottom: 3px;
}

div.downloadpage .cdn-input{
	width: 650px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	text-indent: 2px;
	font-family: Arial;
	border: 1px solid #ccc;
	color: #666;
}

div.downloadpage .an{
	position: relative;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	width: 570px;
	padding: 8px;
	background-color: #fffcf5;
	display: none;
}

div.downloadpage .an a.arr{
	position: absolute;
	left: 50px;
	top: -6px;
	width: 9px;
	height: 6px;
	overflow: hidden;
	background-image: url(../images/tip-arr.gif);
}